<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
		<center><h1> Student Placement Predicton </h1></center>
		<hr><hr>

		<div>
	<form action="/predict" , method="POST">
		<center><h3> Enter 10th Score:- <input type="text" name="ssc_p" , placeholder="10th Percentage"></h3></center>
		<br>

		<center><h3>Enter 12th Score:- <input type="text" name="hsc_p" , placeholder="12th Percentage"></h3></center>
		<br>

		<center><h3>Enter Degree Score:- <input type="text" name="degree_p" , placeholder="Degree Percentage"></h3></center>
		<br>

		<center><h3>Enter Experience:- <input type="text" name="workex" , placeholder="1=Experience ,0=No Experience"></center></h3>
		<br>

		<center><h3>specialisation Stream:- <input type="text" name="specialisation" , placeholder="1=HR , 0=Finance"></h3></center>
		<br>

		<center><h3>Gender:-<input type="text" name="gender" , placeholder="1=Female , 0=Male"></h3></center>
		<br>
		<center><h1><button type="submit">Predict</button></h1></center>


</body>
</html>